# Default values for Mission Control.
# This is a YAML-formatted file.
# Beware when changing values here. You should know what you are doing!
# Access the values with {{ .Values.key.subkey }}

# Common
imagePullPolicy: IfNotPresent

uid: 1050

imagePullSecrets:

images:
  tags:
    createUser: mvertes/alpine-mongo:3.6.3-0
    initContainerImage: "alpine:3.6"
    insightExecutor: docker.bintray.io/jfrog/insight-executor:3.3.0
    insightScheduler: docker.bintray.io/jfrog/insight-scheduler:3.3.0
    insightServer: docker.bintray.io/jfrog/insight-server:3.3.0
    missionControl: docker.bintray.io/jfrog/mission-control:3.3.0

## Role Based Access Control
## Ref: https://kubernetes.io/docs/admin/authorization/rbac/
rbac:
  create: true
  role:
    ## Rules to create. It follows the role specification
    rules:
    - apiGroups:
      - ''
      resources:
      - services
      - endpoints
      - pods
      verbs:
      - get
      - watch
      - list

## Service Account
## Ref: https://kubernetes.io/docs/admin/service-accounts-admin/
##
serviceAccount:
  create: true
  ## The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the fullname template
  name:

# Sub charts
## Configuration values for the mongodb dependency
## ref: https://github.com/kubernetes/charts/blob/master/stable/mongodb/README.md
##
mongodb:
  enabled: true
  image:
    tag: 3.6.8-debian-9
    pullPolicy: IfNotPresent
  persistence:
    size: 20Gi
    enabled: true
    ## existingClaim: jfmc-mongo-pvc
    storageClass: general
  resources:
    requests:
      memory: "2Gi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "4"
  ## Make sure the --wiredTigerCacheSizeGB is no more than half the memory limit!
  ## This is critical to protect against OOMKill by Kubernetes!
  mongodbExtraFlags:
  - "--wiredTigerCacheSizeGB=1"
  usePassword: false
  db:
    adminUser: admin
    adminPassword: password
    mcUser: mission_platform
    mcPassword: password
    insightUser: jfrog_insight
    insightPassword: password
    insightSchedulerDb: insight_scheduler
    insightExecutorDb: insight_executor
    insightServerDb: insight_team
    missionControl: mission_platform
  livenessProbe:
    initialDelaySeconds: 40
  readinessProbe:
    initialDelaySeconds: 30

elasticsearch:
  enabled: true
  persistence:
    size: 60Gi
    enabled: true
    ## existingClaim: jfmc-elastic-pvc
    storageClass: general
  resources:
    requests:
      memory: "2Gi"
      cpu: "100m"
    limits:
      memory: "3Gi"
      cpu: "4"
  javaOpts: {}
  #  xms: "2g"
  #  xmx: "2g"
  env:
    clusterName: "es-cluster"
    esUsername: "elastic"
    esPassword: "smil3yfc"

podRestartTime:

secrets:
  tls:
    missioncontrol:
      missioncontrol:
        public: missioncontrol-tls-public

endpoints:
  cluster_domain_suffix: cluster.local
  missioncontrol:
    host_fqdn_override:
      default: null
    # NOTE(SaiBattina): this chart supports TLS for fqdn over-ridden public
    # endpoints using the following format:
    #   public:
    #     host: mission.domain.example
    #     tls:
    #       crt: null
    #       key: null
    #       ca: null

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - mission.domain.example
  tls: []
  #  - secretName: missioncontrol-secret-tls
  #    hosts:
  #      - mission.domain.example

missionControl:
  replicaCount: 1
  name: mission-control
  appName: jfmc-server
  home: /var/opt/jfrog/mission-control
  missionControlUrl:
  podRestartTime:
  repository: jfrog-mission-control
  package: mc-docker-installer
  dist: helm
  osVersion: "NA"
  osType: "NA"
  osDist: "NA"
  persistence:
    enabled: true
    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim:

    mountPath: "/var/opt/jfrog/mission-control"
    accessMode: ReadWriteOnce
    size: 100Gi
    ## Mission Control data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: general

  ## Control Java options (JAVA_OPTIONS)
  ## IMPORTANT: keep javaOpts.xmx no higher than resources.limits.memory
  javaOpts:
    other: "-server -XX:+UseG1GC -Dfile.encoding=UTF8"
    xms:
    xmx:
  resources:
    requests:
      memory: "2Gi"
      cpu: "100m"
    limits:
      memory: "3Gi"
      cpu: "2"
  nodeSelector: {}

  tolerations: []

  affinity: {}

  service:
    type: ClusterIP
  internalPort: 8080
  externalPort: 80


insightServer:
  replicaCount: 1
  name: insight-server
  home: /opt/jfrog
  persistence:
    enabled: true
    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim:

    mountPath: "/opt/jfrog/insight-server/logs"
    accessMode: ReadWriteOnce
    size: 100Gi
    ## Mission Control data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: general

  service:
    name: insight-server
    type: ClusterIP
  externalHttpPort: 8082
  internalHttpPort: 8082
  ## This can be used to whitelist the range of IPs allowed to be served by Insight Server service
  ## The value must follow CIDR format
  allowIP: "0.0.0.0/0"
  resources:
    requests:
      memory: "500Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "2"
  nodeSelector: {}

  tolerations: []

  affinity: {}

insightScheduler:
  replicaCount: 1
  name: insight-scheduler
  home: /opt/jfrog
  persistence:
    enabled: true
    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim:

    mountPath: "/opt/jfrog/insight-scheduler/logs"
    accessMode: ReadWriteOnce
    size: 100Gi
    ## Mission Control data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: general
  service:
    type: ClusterIP
  externalPort: 8080
  internalPort: 8080
  ## Control Java options (JFMC_EXTRA_JAVA_OPTS)
  ## IMPORTANT: keep javaOpts.xmx no higher than resources.limits.memory
  javaOpts: {}
  #  other:
  #  xms: "500m"
  #  xmx: "3g"
  resources:
    requests:
      memory: "500Mi"
      cpu: "100m"
    limits:
      memory: "3Gi"
      cpu: "2"
  nodeSelector: {}

  tolerations: []

  affinity: {}

insightExecutor:
  replicaCount: 1
  name: insight-executor
  home: /opt/jfrog
  persistence:
    size: 5Gi
    enabled: true
    ## existingClaim: jfmc-exec-pvc
    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim:

    mountPath: "/opt/jfrog/insight-executor/logs"
    accessMode: ReadWriteOnce
    size: 100Gi
    ## artifactory data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: general

  service:
    type: ClusterIP
  externalPort: 8080
  internalPort: 8080
  javaOpts: {}
  #  other:
  #  xms: "500m"
  #  xmx: "3g"

  resources:
    requests:
      memory: "500Mi"
      cpu: "100m"
    limits:
      memory: "3Gi"
      cpu: "2"
  nodeSelector: {}

  tolerations: []

  affinity: {}

manifests:
  secret_ingress_tls: true
