{{- if .Values.ingress.enabled -}}
{{- $serviceName := include "artifactory-ha.fullname" . -}}
{{- $servicePort := .Values.artifactory.externalPort -}}
{{- $serviceRTFSName := include "rtfs.fullname" . -}}
{{- $artifactoryServicePort := .Values.artifactory.externalArtifactoryPort -}}
{{- $ingressNameArtifactory := default ( include "artifactory-ha.fullname" . ) .Values.ingress.name -}}
{{- if .Values.ingress.hosts }}
  {{- range $index, $host := .Values.ingress.hosts }}
    {{- $ingressName := printf "%s-%s" $ingressNameArtifactory $host -}}
    {{- $annotationName := printf "annotations%d" ( add1 $index ) -}}
    {{- if $.Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
apiVersion: networking.k8s.io/v1
    {{- else if .Capabilities.APIVersions.Has "networking.k8s.io/v1beta1" }}
apiVersion: networking.k8s.io/v1beta1
    {{- else }}
apiVersion: extensions/v1beta1
    {{- end }}
kind: Ingress
metadata:
  name: {{ $ingressName }}
  labels:
    app: {{ template "artifactory-ha.name" $ }}
    chart: {{ template "artifactory-ha.chart" $ }}
    release: {{ $.Release.Name }}
    heritage: {{ $.Release.Service }}
    {{- if $.Values.ingress.labels }}
{{ $.Values.ingress.labels | toYaml | trimSuffix "\n"| indent 4 -}}
    {{- end}}
    {{- if hasKey $.Values.ingress.annotations $annotationName }}
  annotations:
{{ index $.Values.ingress "annotations" $annotationName | toYaml | trimSuffix "\n" | indent 4 -}}
    {{- end }}
spec:
    {{- if and $.Values.ingress.className (semverCompare ">=1.18.0-0" $.Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ $.Values.ingress.className }}
    {{- end }}
    {{- if $.Values.ingress.defaultBackend.enabled }}
      {{- if $.Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
  defaultBackend:
    service:
      name: {{ $serviceName }}
      port:
        number: {{ $servicePort }}
      {{- else }}
  backend:
    serviceName: {{ $serviceName }}
    servicePort: {{ $servicePort }}
      {{- end }}
    {{- end }}
  rules:
    {{- if $.Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
  - host: {{ $host | quote }}
    http:
      paths:
        - path: {{ $.Values.ingress.routerPath }}
          pathType: {{ $.Values.ingress.pathType | default "ImplementationSpecific" }}
          backend:
            service:
              name: {{ $serviceName }}
              port:
                number: {{ $servicePort }}
        {{- if not $.Values.ingress.disableRouterBypass }}
        - path: {{ $.Values.ingress.artifactoryPath }}
          pathType: {{ $.Values.ingress.pathType | default "ImplementationSpecific" }}
          backend:
            service:
              name: {{ $serviceName }}
              port:
                number: {{ $artifactoryServicePort }}
        {{- end }}
    {{- else }}
  - host: {{ $host | quote }}
    http:
      paths:
        - path: {{ $.Values.ingress.routerPath }}
          backend:
            serviceName: {{ $serviceName }}
            servicePort: {{ $servicePort }}
        - path: {{ $.Values.ingress.artifactoryPath }}
          backend:
            serviceName: {{ $serviceName }}
            servicePort: {{ $artifactoryServicePort }}
    {{- end -}}
    {{- with $.Values.ingress.additionalRules }}
{{ tpl . $ | indent 2 }}
    {{- end }}
    {{- if $.Values.ingress.tls }}
  tls:
{{ toYaml $.Values.ingress.tls | indent 4 }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if .Values.customIngress }}
---
{{ .Values.customIngress | toYaml | trimSuffix "\n" }}
{{- end -}}
{{- end -}}
